/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home-screen {
    width: 100vw;
    height: 90vh;
    margin: 0; /* Remove default paragraph margin */
    background-color: white; /* Optional background */
  }

  h1{
    width: 100vw;
    padding: 10vh 5vw 10vh 5vw;
    margin: 0;
    background-color: white; /* Optional background */
    font-size: 6vw;
    font-weight: 600;
  }

  .text-content {
    white-space: pre-wrap; /*keeps line breaks*/
    padding: 8vh 5vw 8vh 5vw;
    background-color: darkslategrey;
    color: white;
  }

  body {
    font-family: Verdana, sans-serif;
  }